{% autoescape off %}
<p>Hello,</p>

<p>You're receiving this email because you requested a password reset for your Edulog Attendance System account.</p>

<p>Please go to the following page and choose a new password:</p>

<p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" 
     style="color: #2563eb; text-decoration: underline;">
  Reset Your Password
</a></p>

<p>If you didn't request this password reset, please ignore this email.</p>

<p>Thanks,<br>
The Edulog Team</p>
{% endautoescape %}